@model string
@{
    ViewData["Title"] = "Home Page" + ViewBag.Title;
}

    <div class="text-center">
        <h3>Hello Azure!</h3>
        <h3>@Model</h3>
        <h3>Hello Azure!</h3>
        <h3>STAGING2</h3>
    </div>
