@model string
@{
    ViewData["Title"] = "Home Page" + ViewBag.Title;
}

    <div class="text-center">
        <h3>Hello Azure!</h3>
        <h3>@Model</h3>
        <h3>Hello Azure!</h3>
        <h3>@Model</h3>
        <h1>SWAP</h1>
        <h1>Four</h1>
    </div>
